body,html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../void2.jpg);
}

#boven,#container {
    width: 97.5%;
}

#boven {
    background-color: rgb(20,20,20);
    height: 15%;
    color: rgb(160, 0, 160);
    font-size: 120px;
    background-image: url(../brickwall1.jpg);
    background-size: 35%;
}

#container {
    background-color: green;
    height: 80%;
    display: flex;
    }

#Menu {
    background-color: rgb(30, 30, 30);
    width: 20%;
    height: 100%;
}

#Text {
    background-color: rgb(50,50,50);
    width: 60%;
    height: 100%;
}

#Fotos {
    background-color: rgb(40,40,40);
    width: 20%;
    height: 100%;
}

ul a {
    background-color: rgb(50, 50, 50);
    display: block;
    text-decoration: none;
    font-size: 60px;
    border-radius: 20px;
    color: rgb(70,0,70);
    text-align: center;
    margin-top: 40px;
}

ul a:hover{
    background-color: rgb(70,70,70);
    color: rgb(90,0,90);
}

ul {
    list-style: none;
}

#Fotos img {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

#Fotos p {
    text-align: center;
}