@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body,html {
    height: 100%;
    margin: 0;
    font-family: 'Oxygen', sans-serif;

}

body {
    background-image: url(../wforest.jpg);
    background-size: 100%
}

#boven,#container,#Navigation {
    width: 95%;
}

#boven {
    background-color: rgb(255,255,255);
    height: 15%;
    color: rgb(0,93,120);
    font-size: 120px;
}

#Navigation {
    height: 5%;
    background-color: rgb(0,93,120);
    display: flex;
}

#Navigation a {
    background-color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;
    color: rgb(0,93,120);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 10%;
}

#Navigation a:hover{
    background-color: rgb(0,70,93);
    color: rgb(255,255,255);
}

#container {
    background-color: rgb(0,93,120);
    height: 75%;
    display: flex;
    }

#Menu {
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 100%;
    text-align: center;
    color: rgb(0,93,120);
}

#Text {
    background-color: rgb(235,235,235);
    width: 65%;
    height: 100%;
}

#Fotos {
    background-color: rgb(255,255,255);
    width: 20%;
    height: 100%;
}

ul a {
    background-color: rgb(0,93,120);
    display: block;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;
    color: rgb(255,255,255);
    text-align: center;
    margin-top: 10px;
    width: 85%;
}

ul a:hover{
    background-color: rgb(215,215,215);
    color: rgb(0, 70, 90);
}

ul {
    list-style: none;
}

#Fotos img {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 20px;
}

#Fotos p {
    text-align: center;
}

.Paragraphs p {
    font-size: 20px;
}

.Paragraphs {
    background-color: rgb(255,255,255);
    display: block;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding-left: 10px;
    padding-bottom: 1px;
}
